* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

.component__wrapper {
  width: 900px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-body-stars {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
